*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: blueviolet;
    align-items: center;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

.profile-img{
    width: 50px;
    border-radius: 50px
}